.container {
  margin-top: 30px;
  background-color: #fff;
  height: 100%;
  overflow: auto;
  color: #0c0d0e;
}


.filters-box {
  background-color: white;
  position: relative;
  z-index: 4;
  color: #0c0d0e;
}

.filters {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #fff;
  z-index: 3;
  justify-content: flex-start;
  color: #0c0d0e;
}

.filter-group {
  flex-direction: column;
  margin: 0 5px;
  position: relative;
  color: #0c0d0e;
}

.filter-group label {
  margin-bottom: 5px;
  font-size: 12px;
  color: #0c0d0e;
}

.filter-by-keyword input {
  background: url('/assets/magnifying.svg') no-repeat right 8px center;
  background-size: 12px 12px;
  color: #0c0d0e;
}

.filter-group input,
.filter-group select {
  height: 25px;
  font-size: 12px;
  padding: 3px;
  border: 0.5px solid #dfe4ea;
  box-sizing: border-box;
  border-radius: 7px;
  color: #0c0d0e;
  cursor: pointer;
}

.filter-group input::placeholder,
.filter-group select option[disabled] {
  color: #0c0d0e;
}

.filter-group select {
  appearance: none;
  padding-right: 30px;
}

.triangle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #0c0d0e;
  pointer-events: none;
}

.filter-group input::placeholder {
  color: #0c0d0e;
}

::ng-deep .mat-sort-header-arrow {
  display: none !important;
}

::ng-deep .mat-sort-header-content {
  position: relative;
  display: inline-block;
  padding-right: 15px;
}

::ng-deep .mat-sort-header-content::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #0e0c22;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

::ng-deep .mat-sort-header-sorted .mat-sort-header-content::after {
  transform: translateY(-50%) rotate(180deg);
}

::ng-deep .mat-sort-header-sorted-desc .mat-sort-header-content::after {
  transform: translateY(-50%) rotate(0deg);
}

.table-wrapper {
  height: calc(100% - 66px); /* Adjust based on the height of other elements like header */
  overflow-y: auto;
}


table tr {
  border-bottom: 0.5px solid #dfe4ea;
  height: 20px;
  color: #0c0d0e;
  font-family: sans-serif;
  border-bottom: 0.5px solid #dfe4ea; /* Added border-bottom */
}

table th {
  border-top: 0.5px solid #dfe4ea;
  border-left: 0.25px solid #dfe4ea;
  border-right: 0.25px solid #dfe4ea;
  font-weight: 600; /* Corrected font-weight */
  font-size: 14px;
  text-align: left;
  padding: 4px 8px;
  height: 20px;
  white-space: nowrap;
  position: sticky;
  text-overflow: ellipsis;
  color: #0c0d0e;
  top: 0;
  background: white;
  z-index: 4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08) !important;
}

table td {
  border-left: 0.25px solid #dfe4ea;
  border-right: 0.25px solid #dfe4ea;
  border-bottom: 0.5px solid #dfe4ea; /* Added border-bottom */
  font-size: 12px;
  text-align: left;
  padding: 4px 8px;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #0c0d0e;
}

table tr:last-child td {
  border-bottom: 0.5px solid #dfe4ea; /* Ensure last row also has bottom border */
}