<div class="tabs">
  <div class="tab" [class.active]="activeTab === 'gantt-chart'" (click)="selectTab('gantt-chart')">
    Gantt Chart
  </div>
  <div class="tab" [class.active]="activeTab === 'data-table'" (click)="selectTab('data-table')">
    Raw Data
  </div>
  <div class="tab" [class.active]="activeTab === 'histogram'" (click)="selectTab('histogram')">
    Histogram
  </div>
  <div class="tab" [class.active]="activeTab === 'member-graph'" (click)="selectTab('member-graph')">
    Event Graph
  </div>
  <div class="tab" [class.active]="activeTab === 'graph'" (click)="selectTab('graph')">
    Member Graph
  </div>
</div>

<div class="content">
  <app-gantt-chart *ngIf="activeTab === 'gantt-chart'"></app-gantt-chart>
  <app-data-table *ngIf="activeTab === 'data-table'"></app-data-table>
  <app-histogram *ngIf="activeTab === 'histogram'"></app-histogram>
  <app-member-graph *ngIf="activeTab === 'member-graph'"></app-member-graph>
  <app-graph *ngIf="activeTab === 'graph'"></app-graph>
</div>
