#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Hide overflow from container */
  font-family: sans-serif;
}

app-header {
  width: 100%;
  z-index: 11;
  position: fixed; /* Fix header position */
  top: 0; /* Align header to the top */
}

#main {
  display: flex;
  flex: 1;
  margin-top: 60px; /* Adjust margin to account for fixed header */
  overflow-y: auto; /* Enable vertical scrolling within main content */
}

app-side-bar {
  flex: 0 0 auto;
  width: 180px;
  min-width: 60px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  position: fixed; /* Fix sidebar position */
  left: 0;
  top: 60px; /* Adjust top position */
  height: calc(100% - 60px); /* Adjust height to occupy full height minus the top offset */
  background-color: #0f3d70;
  z-index: 7;
}

app-side-bar.minimized {
  width: 60px;
}

#contentContainer {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
  overflow-y: auto; /* Enable vertical scrolling within content container */
  margin-left: 60px; /* Adjust margin to account for sidebar width */
  background: #fff;
}

#content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#overlay {
  position: fixed;
  top: 60px; /* Adjust top position to start below app-header */
  left: 0;
  width: 100vw; /* Use viewport width to cover entire viewport */
  height: 100vh; /* Use viewport height to cover entire viewport */
  background-color: rgba(0, 0, 0, 0.2); /* Adjust opacity as needed */
  z-index: 6; /* Ensure overlay is above content but below sidebar */
  pointer-events: auto; /* Enable clicks on the overlay */
}
