@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
    min-width: 1050px;
    overflow-y: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
