<div class="container">
  <div class="dropdown-container"></div>
  <div class="divider-top"></div>
  <div class="divider-left"></div>
  <div class="tooltip"></div>
  <div class="filters-box">
    <div class="filters">
      <div class="filter-group filter-by-member-id">
        <input type="text" id="memberIdFilter" #memberIdFilter placeholder="Member ID" (input)="applyFilters()">
      </div>
      <div class="filter-group filter-by-household-id">
        <input type="text" id="householdIdFilter" #householdIdFilter placeholder="Household ID" (input)="applyFilters()">
      </div>
      <div class="filter-group filter-by-product">
        <select id="taskFilter" #taskFilter (change)="applyFilters()">
          <option value="all">All Events</option>
          <option *ngFor="let task of uniqueTasks" [value]="task">{{ task }}</option>
        </select>
        <div class="triangle-icon"></div>
      </div>
      <div class="filter-group filter-by-channel">
        <select id="channelFilter" #channelFilter (change)="applyFilters()">
          <option value="all">All Channels</option>
          <option value="Web">Web</option>
          <option value="Mobile">Mobile</option>
          <option value="In-Person">In-Person</option>
        </select>
        <div class="triangle-icon"></div>
      </div>
      <div class="filter-group filter-by-fraud">
        <select id="fraudFilter" #fraudFilter (change)="applyFilters()">
          <option value="all">Choose Status</option>
          <option value="Yes">Fraudulent</option>
          <option value="No">Not Fraudulent</option>
        </select>
        <div class="triangle-icon"></div>
      </div>
      <div class="filter-group filter-by-date">
        <input type="date" id="startDate" #startDate placeholder="Start Date" (change)="applyFilters()">
      </div>
      <div class="filter-group filter-by-date">
        <input type="date" id="endDate" #endDate placeholder="End Date" (change)="applyFilters()">
      </div>
    </div>
  </div>
  <div class="header-box">
    <div class="content-header">Member Event Log</div>
    <div class="events-header">Events</div>
    <div class="duration-header">Duration</div>
    <div class="date-range">{{ dateRangeText }}</div>
    <div class="date-of-birth">{{ dateOfBirthText }}</div>
  </div>
  <div class="gantt-chart">
    <svg></svg>
  </div>
</div>
