.container {
    margin-top: 31px;
    container: relative;
    overflow: hidden;
  }
  
  .divider-top {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 186px;
    width: 100%;
    background-color: transparent;
    border-bottom: 0.5px solid #dfe4ea;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);

  }

  .divider-left {
    position: absolute;
    left: 309px;
    top: 0px;
    height: 100%;
    width: 1.5px;
    background-color: #dfe4ea;
    z-index: 4;
  }

  .divider-right {
    position: absolute;
    right: 0px;
    top: 186px;
    height: 100%;
    width: 20px;
    background-color: white;
    border-left: 1.5px solid #dfe4ea;
    z-index: 3;
  }

.filters-box {
  border-bottom: 0.5px solid #dfe4ea;
  background-color: white;
  position: relative;
  z-index: 4;
}

.header-box {

  position: relative;
  height: 30px;
  background-color: white;
  z-index: 3;
}

.content-header {
  position: absolute;
  left: 5px;
  padding: 5px;
  color: #0e0c22;
  font-size: 14px;
  font-weight: bold;
  z-index: 4;
}

.events-header {
  position: absolute;
  top: 30px;
  left: 5px;
  padding: 5px;
  color: #0e0c22;
  font-size: 12px;
  font-weight: 600;
  z-index: 4;
}

.duration-header {
  position: absolute;
  left: 165px;
  padding: 5px;
  color: #0e0c22;
  font-size: 12px;
  font-weight: 600;
  top: 30px;
  z-index: 4;
}


.date-range {
  position: absolute;
  padding: 5px;
  top: 1.5px;
  left: 255px;
  color: #0e0c22;
  font-size: 12px;
  font-weight: 600;
  z-index: 4;
}

.filters {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #fff;
  z-index: 3;
  justify-content: flex-start;
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  position: relative;
}

.filter-by-member-id input {
  background: url('/assets/magnifying.svg') no-repeat right 8px center;
  background-size: 12px 12px;
}

.filter-by-household-id input {
  background: url('/assets/magnifying.svg') no-repeat right 8px center;
  background-size: 12px 12px;
}

.filter-group input,
.filter-group select {
  height: 25px;
  font-size: 12px;
  padding: 3px;
  border: 1.5px solid #dfe4ea;
  box-sizing: border-box;
  border-radius: 7px;
  color: #0e0c22;
  cursor: pointer;
}

.filter-group input::placeholder,
.filter-group select option[disabled] {
  color: #0e0c22;
}

.filter-group select {
  appearance: none;
  padding-right: 30px;
}

.triangle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #0e0c22;
  pointer-events: none;
}

.tooltip {
  position: absolute;
  font: 12px sans-serif;
  color: #fff;
  background-color: #979dad;
  border-radius: 7px;
  pointer-events: none;
  opacity: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.gantt-chart {
  overflow: hidden; /* Allow scroll if content overflows */
}